<div class="search-wrapper">
  <div class="search-input-wrap">
    <span class="search-icon">&#128269;</span>
    <input type="text" id="search-input" class="search-input" placeholder="Search CVEs, exploits, FCC devices, EOL chips..." autocomplete="off">
  </div>
  <div class="search-filters">
    <label class="filter-pill filter-cve">
      <input type="checkbox" data-type="cve" checked>
      <span>CVE</span>
    </label>
    <label class="filter-pill filter-exploit">
      <input type="checkbox" data-type="exploit" checked>
      <span>Exploit</span>
    </label>
    <label class="filter-pill filter-fcc">
      <input type="checkbox" data-type="fcc" checked>
      <span>FCC</span>
    </label>
    <label class="filter-pill filter-eol">
      <input type="checkbox" data-type="eol" checked>
      <span>EOL</span>
    </label>
  </div>
</div>
